$pink: #ffcdd2;
$grey: #f8f9f9;
$yellow: #a3e4d7;

#landing-page
{

  @import url('https://fonts.googleapis.com/css?family=Rubik:300,300i,400,400i,500,500i,700,700i,900,900i');

  font-family:'Rubik', sans-serif;
  width: 100%;
  height: 100%;

  overflow: hidden;
  /*
  background-image: url('https://scontent-cdg2-1.xx.fbcdn.net/v/t1.15752-9/31437460_1911799875817421_1060852300727189504_n.jpg?_nc_cat=0&oh=981dbb6d4387a9cb2180c2c962d4bfb7&oe=5B518C18');
  background-size: cover;
  background-position: bottom;
  background-blend-mode: soft-light;
  */

  background-image: url('http://4.bp.blogspot.com/_KckYYvB7Ge0/TJmFTb9XkhI/AAAAAAAAAaw/rjtOQ9I5EDA/s1600/headphones-.jpg'), url('https://i.pinimg.com/originals/96/aa/9e/96aa9e2d8ebdc6b0c66cd93a1ec56781.jpg');
  background-size: 30%, 30%;
  background-position:top right, bottom left;
  background-repeat: no-repeat;
  background-blend-mode: color-burn;

  //background-image: linear-gradient(to top right,  #fce4ec 0%, $pink 100%);
  background-color: $pink;
  .top-part
  {
    position: relative;
    width: 100%;
    height: 50%;

    transition-duration: .25s;
    transition-timing-function: ease-in-out;
  }
}

#welcome-screen
{
  transition-duration: .25s;
  transition-timing-function: ease-in-out;

  &.hide
  {
    margin-top: 100%;
  }

  width: 100%;
  height: 50%;

  position: relative;

  background-color: $grey;
  color: #fff;

  $side-margin: 5rem;

  h6
  {
    color: red;
    font-weight:500;
    font-size:2em;
  }

  .caption
  {
    display: block;
    margin: 0;
    padding: 0;

    position: absolute;
    top: -8rem;
    left: $side-margin;

    text-transform: uppercase;
    font-size: 1.25em;
  }

  .title
  {
    display: block;
    margin: 0;
    padding: 0;
    font-weight: 900;
    font-style: italic;
    position: absolute;
    text-transform: uppercase;
    font-size: 5em;
    left: $side-margin;

    &.line-1
    {
      color:$grey;
      top: -5.5rem;
      text-shadow: -3px 3px #ff0000;
    }

    &.line-2
    {
      color: #ff0000;
      top: .1rem;
    }
  }

  .access-form
  {
    display: block;
    width: 30rem;

    position: absolute;
    right: $side-margin;

    .field-input
    {
      position: absolute;
      top: -2.3rem;
    }

    input[type=button]
    {
      font-family:'Rubik';
      display: block;
      width: 15rem;
      height: 3rem;
      color: #fff;
      position: absolute;
      top: 1.7rem;
      right: 10px;

      border: 0;
      background-color: red;

      text-transform: uppercase;
      font-size: 0.8rem;
      font-weight:500;
      cursor:pointer;

      &:hover
      {
        color: #FFF;
        background-color: red;
      }
    }
  }
}
