.settings-page
{
  font-family:'Rubik', sans-serif;

  width: 800px;
  margin: 30px auto auto auto;
  background-color: $grey;

  h2
  {
    margin: .5rem 0 0 0;
    padding: 0;

    color: #000;
    font-size: 3rem;
    font-weight: 600;
    word-spacing: 0.2em;
    font-size:5em;

    text-transform: uppercase;
  }

  .editable-field-input
  {
    width: 60%;
  }
}
