@import '~style/root';

header
{

  font-family:'Rubik', sans-serif;
  display: block;
  position: fixed;
  top: 0;
  left: 0;

  height: $header-height;
  width: 100%;
  z-index:1000;
  background-color: $pink;

  h3
  {
    width:23%;
    color: $grey;
    margin: 10px;
    padding-left: 5em;
    text-align: left;
    font-style: italic;
    text-transform: uppercase;
    cursor: pointer;

    .red {
      letter-spacing: -0.1em;
      color: red;
    }
  }
}