$header-height: 3em;

header
{
  display: block;
  position: fixed;
  top: 0;
  left: 0;

  height: $header-height;
  width: 100%;

  background-color: #FFF;

  border-bottom: 1px solid #AAA;

  h1
  {
    margin: 10px auto;
    padding: 0;
    text-align: center;
  }
}

// Update body with header height
body
{
  padding-top: $header-height;
}
