.about-page
{
  font-family:'Rubik', sans-serif;
  width: 1200px;
  margin: 30px auto auto auto;
  height:90vh;

  .about-message {
    float:right;
    width:800px;
    z-index:999;
    padding-top:0.4em;
    font-size:120px;
    font-weight:600;
    letter-spacing:-0.07em;
    word-spacing: 0.2em;
    color:black;
    text-align:right;
    line-height: 0.8em;
    margin-bottom: -.4rem;

    span {
      color:red;
    }
  }

  .about-box {
    display: inline-grid;
    grid-template-columns: auto auto auto auto;
    background-color:white;
    
    .about-information-box {
        padding:10px;
        margin:20px;
        .about-image {

          width:50%;
          float:left;
          padding-right:10px;
        }
        h4 {
          white-space: nowrap;
          font-weight:400;
          padding:0;
          margin-bottom:10px;
          text-transform:lowercase;
        }

        h3 {
          white-space: nowrap;
          font-weight:500;
          padding:0;
          margin:0;
        }
/*
        &.plus {
          grid-row-start: 2;
          grid-row-end: 4;
          grid-column-start: 2;
          grid-column-end: 4;
        }
*/
        h5 {
          width:200px;
          font-weight: 400;
          font-style:italic;
          span {
            color:red;
          }
        }
    }
  }
}
