.about-page
{
  font-family:'Rubik', sans-serif;
  width: 1200px;
  margin: 30px auto auto auto;

  .about-message {
    position: absolute;
    right: 15vw;
    width: 550px;
    z-index: 999;
    margin-top: 0.2em;
    font-size: 7vw;
    font-weight: 600;
    letter-spacing: -0.07em;
    word-spacing: 0.2em;
    color: black;
    text-align: right;
    line-height: 0.8em;
    margin-bottom: -.4rem;

    span {
      color:red;
    }
  }

  .about-box {
    display: inline-grid;
    grid-template-columns: 22vw 22vw 22vw 22vw;
    background-color: white;
    grid-template-rows: 30% 30%;
    margin-top: 12.3vw;
    
    .about-information-box {
        padding:10px;
        margin:20px;
        .about-image {

          width:50%;
          float:left;
          padding-right:10px;
        }
        h4 {
          white-space: nowrap;
          font-weight: 400;
          padding: 0;
          margin: 10px 0;
          text-transform: lowercase;
          font-size: 1.18vw;
        }

        h3 {
          white-space: nowrap;
          font-weight:500;
          padding:0;
          margin:0;
          font-size: 1.3vw;
        }
/*
        &.plus {
          grid-row-start: 2;
          grid-row-end: 4;
          grid-column-start: 2;
          grid-column-end: 4;
        }
*/
        h5 {
          font-weight: 400;
          font-style: italic;
          position: relative;
          display: inline-block;
          font-size: 0.95vw;

          span {
            color:red;
          }
        }
    }
  }
}
